# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Entornos virtuales
venv/
env/
ENV/

# Variables de entorno
.env

# Logs de IDE y SO
.vscode/
.idea/
.DS_Store

# Archivos de sqlite (si los hubiese)
*.sqlite3
*.db
